if SHIELD_SPARKLES_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Sparkles"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPARKLES_LEFT || SHIELD_SPARKLES_RIGHT

config ZMK_SPLIT
    default y

endif
